@media screen and ( min-width: 1025px ) {
.flex-container {
    display: flex;

}


 div.responsive {
    width: 10%;
    height: 10%;
 }

    #header {
        width: 100%;
        position: top center;
   }
}
 

